<section ng-controller="BillController">
  <form name="billEntry" ng-submit="addBill()" novalidate>
    <div id="billList">
      <input type="text" ng-model="search" placeholder="Search for bill" />
      <ul>
        <li
          ng-repeat="bill in bills | orderBy: '-dollarAmount' | filter: search"
        >
          {{bill.name}} {{bill.dollarAmount | currency}}
          <div class="remove" ng-click="removeBill(bill)">X</div>
          <span>
            {{(bill.dollarAmount / (postTaxIncome/12) * 100 | number:2)}}% of
            income
            <!-- {{bill.percentage}} uncomment for correct dynamic code app.js ln. 90 -->
          </span>
        </li>
      </ul>
    </div>
    <div id="addBillForm">
      <label>Add bill:</label>
      <input
        type="text"
        name="name"
        ng-model="newBill.name"
        ng-required="true"
        placeholder="Whats this bill for?"
      />
      <input
        type="number"
        name="dollarAmount"
        ng-model="newBill.dollarAmount"
        ng-required="true"
        placeholder="Dollar amount"
      />
      <button type="submit">Add bill</button>
      <div style="color: red; padding-top: 5px">
        <small id="error" ng.show="showError">{{errorMessage}}</small>
    </div>
    <p>Total: {{totalAmountOfBills | currency}} | Remaining monthly balance: {{(postTaxIncome / 12) - totalAmountOfBills | currency}}</p>
    <p>Annual post-tax remainder: {{postTaxIncome - (totalAmountOfBills * 12) | currency}}</p>
    </div>
</form>
<div style=" text-align: center;">
  <button
    ng-click="finished()"
    style="background-color: lightgreen; margin: 1em;"
  >
    Finished
  </button>
</div>
</section>
