<section ng-controller="BudgetController">
  <div style="text-align: center">
    <select
      style="border-radius: 1em; text-align: center"
      ng-model="selectedPayFrequency"
    >
      <option value="">Select Pay Frequency</option>
      <option ng-repeat="frequency in payFrequencies" value="{{frequency}}">
        {{frequency}}
      </option>
    </select>
    <p id="frequencyMessage" ng-show="frequencyMessage">{{frequencyMessage}}</p>
    <small style="color: green">{{weeklyMessage}}</small>
    <div>
      <p>{{remainingPaycheckMessage}} {{remainingPaycheck | currency}}</p>
    </div>
  </div>
  <div id="goalList">
    <h3>Lets talk goals!!</h3>
    <ul class="list">
      <li ng-repeat="goal in goals">
        {{goal.name}} <small>{{goal.percentage}}%</small>
        <span ng-click="removeGoal(goal)" class="remove">X</span
        ><span
          >Amount to transfer:<span style="color: green">
            {{calculateTransferAmount(goal) | currency}}</span
          ></span
        >
        <br />
        <small
          >You will save {{calculateTransferAmount(goal) * 12 | currency}} in 12
          months</small
        >
      </li>
    </ul>
  </div>
  <p>
    Remaining after goals: {{remainingPaycheck - calculateTotalGoalAmount() |
    currency}}
  </p>
  <form name="goalEntry" ng-submit="addGoal()" style="text-align: center">
    <small style="color: red">{{totalPercentageMessage}}</small><br />
    <label>Add Goal:</label>
    <input type="text" placeholder="Name of Goal" ng-model="newGoal.name" />
    <input
      type="number"
      placeholder="Allocate % (0-100) of leftover"
      ng-model="newGoal.percentage"
    />
    <button type="submit">Submit</button>
  </form>
</section>
