<section ng-controller="StateController">
    <div ng-controller="BillController">
<form ng-submit="addIncome()" name="addIncomeForm" >
    <label for="stateInput">Select a state:</label>
    <input type="text" id="stateInput" ng-model="selectedState" list="stateList">
    <datalist id="stateList">
        <option ng-repeat="state in states" value="{{state}}"></option>
    </datalist>
    <input type="text" ng-model="annualIncome" placeholder="Annual income:">
    <p>Post tax Income: {{annualIncome - (annualIncome * 0.22)}}</p>
    <button type="submit">Add Income</button>
</form>
<form ng-submit="addBill()" >
    <div id="billList">
        <input type="text" ng-model="search" placeholder="Search for bill">
        <ul>
            <li ng-repeat="bill in bills | orderBy: '-dollarAmount' | filter: search">{{bill.name}} {{bill.dollarAmount | currency}}
                <div class="remove" ng-click="removeBill(bill)">X</div>
                <span>
                    {{(bill.dollarAmount / (annualIncome/12) * 100 | number:2)}}% of income
                </span>
            </li>
        </ul>
    </div>
    <label for="">Add bill:</label>
    <input type="text" name="name" ng-model="newBill.name" placeholder="Whats this bill for?">
    <input type="float" name="dollarAmount" ng-model="newBill.dollarAmount" placeholder="Dollar amount">
    <input type="submit" value="Add bill">

</form>
</div>
</section>