<section id="billsSection">
  <div>
    <ul>
      <li *ngFor="let bill of bills">
        {{ bill.name }} ${{ bill.amount }}
        <div class="remove" (click)="fbDeleteBill(bill.name)">X</div>
        <span class="amount">{{ calculatePercentage(bill.amount) }}</span>
      </li>
    </ul>
  </div>
  <div class="formDivMedia" style="text-align: center">
    <form (ngSubmit)="fbPostData(billName, billAmount)">
      <label for="billName">Add bill:</label>
      <input
        type="text"
        id="billName"
        name="billName"
        placeholder="What's this bill for?"
        [(ngModel)]="billName"
        required
      />
      <input
        type="number"
        id="billAmount"
        name="billAmount"
        placeholder="Dollar amount:"
        [(ngModel)]="billAmount"
        required
      />
      <button type="submit" [disabled]="!billName || !billAmount">
        Add bill
      </button>
    </form>
  </div>
  <div style="text-align: center;">

    <p>
      Total: {{ totalAmountOfBills | currency }} | Remaining monthly balance:
      {{ taxedIncome / 12 - totalAmountOfBills | currency }}
    </p>
    <p>
      Annual post-tax remainder:
      {{ taxedIncome - totalAmountOfBills * 12 | currency }}
    </p>
    <button (click)="finished()" style="background-color: lightgreen">
      Finished
    </button>
  </div>
</section>
