<section>
  <div style="text-align: center">
    <select [(ngModel)]="selectedFrequency" (change)="onFrequencyChange()">
      <option value="">Select pay frequency</option>
      <option *ngFor="let frequency of payFrequencies">{{ frequency }}</option>
    </select>
    <p>{{ frequencyMessage }}</p>
    <p style="color: green">{{ weeklyMessage }}</p>
    <p>
      {{ remainingPaycheckMessage
      }}{{ remainingPaycheck | currency }}
    </p>
  </div>
  <div id="goalSection">
    <h2>Lets talk Goals!</h2>
    <ul>
      
      <li *ngFor="let goal of goals | keyvalue">
        {{ goal.key }} {{ goal.value }}%
        <br>
        <small>In 12 months you'll save {{ calculateTransferAmount(goal.value) * amountOfPays | currency }}</small>
        
        <div class="remove" (click)="fbRemoveGoal(goal.key)">X</div>
        <span class="amount"
        >{{ goalAmoutMessage }}
        {{ calculateTransferAmount(goal.value) | currency }}</span
        >
      </li>
      
    </ul>

  </div>
  <div style="text-align: center">
    <p style="color: red">{{ percentageMessage }}</p>
    <form (ngSubmit)="fbPostGoal(goalName, goalPercentage)">
      <label>Add Goal:</label>
      <input
        type="text"
        [(ngModel)]="goalName"
        name="name"
        placeholder="What is this goal for?"
      />
      <input
        type="number"
        [(ngModel)]="goalPercentage"
        name="goalPercentage"
        placeholder="Allocate % (0-100) of paycheck"
      />
      <button type="submit">Submit</button>
    </form>
  </div>
</section>
