<div class="incomeIntro">
  <h2>Welcome to PennyWise: Your Personal Finance Assistant</h2>

  <p>
    Let's start by understanding your financial foundation. Please enter your
    annual pre-tax salary below, and PennyWise will work its magic!
  </p>

  <ul>
    <li>We'll calculate your post-tax income</li>
    <li>You'll see a breakdown of your monthly budget</li>
  </ul>

  <p>
    Don't worry if your income changes in the future. You can update it anytime
    by clicking the "Income" tab in the navigation menu.
  </p>

  <div>
    <h3>💡 Pro Tip:</h3>
    <p>
      For the most accurate results, include all sources of income, such as
      bonuses, freelance work, or investment returns.
    </p>
  </div>

  <p>Ready to take control of your finances? Let's get started!</p>
  <div>
    <form (ngSubmit)="calculateIncome(income)">
      <input type="number" [(ngModel)]="income" name="income" placeholder="Pre-tax annual income:"><br>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
