main {
  background-color: lightGrey;
  border-radius: 2em;
  margin: 1em;
}

a{
    color: black;
}

#income, #home {
    text-align: center;
}

section {
  padding: 1em;
}

#headerDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
  padding: 0 1em;
  background-color: red;
    border-radius: 0 0 2em 2em;
}

li {
  list-style-type: none;
  display: inline;
  margin: 1em;
}

li:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
}

#billList ul {
  padding: 0;
}

#billList li {
  display: block;
  margin: 0;
  padding: 15px 0;
  border-top: 0.5px solid;
}

#billList li span {
  float: right;
}

.remove {
  float: right;
  padding: 5px;
  width: 18px;
  text-align: center;
  border-radius: 20px;
  color: crimson;
  cursor: pointer;
  margin-left: 10px;
  background: #fff;
}

#addBillForm {
    text-align: center;
}

input {
    padding: .5em;
    border-radius: 2em;
}

button {
    padding: .5em;
    cursor: pointer;
    border-radius: 2em;
    border: solid 1px;
}

button:hover {
    border: solid 2px;
    color: black;
}


/* angular styles */
input.ng-touched.ng-invalid {
    border: solid 2px red;
}